<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/../static/style.css' %}">
</head>
<body>


    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <h2><a href="{% url 'polls:detail' question.id %}">Click to enter poll</a></h2>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

</body>
</html>